<html lang="en">

<head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css" rel="stylesheet" type="text/css">   
    {{ script|safe }}
</head>
<body>
    <center>
        {{ div|safe }}
    </center>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>      
</body>
</html>
